*{
    padding: 0;
    margin: 0;
}

body{
background-color: rgb(201, 200, 200);
font-family: Bahnschrift SemiBold;
}
header{
    width: 100%;
    height: 120px;
    text-align: center;
    background-color: white;
}

#search{
    margin-top: 50px;
    margin-right: 40px;
    border: 2px solid black;
    border-radius: 40px;
    width: 400px;
    height: 40px;
    float: right;
    padding-left: 10px;
    padding-right: 10px;
    
}

#trending img{
    height: 100px;
    width: 220px;
    filter: invert(0.8) grayscale(4);
    float: left;
    margin-left: 40px;
    margin-top: 20px;
}

#trending img:hover{
    filter: hue-rotate(10deg) ;
}

#icon img{
    height: 80px;
    width: 100px;
    filter: invert(0.8) grayscale(4);
    float: left;
    margin-left: 600px;
    margin-top: 20px;
}

#icon img:hover{
    filter: hue-rotate(10deg);
}


#lateral-menu{
    display: block;
    margin: 40px 20px;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
    border-radius: 20px;
    height: 450px;
    width: 100px;
    background-color:white;
    text-align: center;
    float: left;
    position: fixed;
}

#lateral-menu li{
    list-style: none;
}

#lateral-menu img{
    width: 60px;
    height: 60px;
    filter: invert(0.8) grayscale(4);
    margin: 10px 0;
    margin-right: 10px;
}

#lateral-menu img:hover{
    filter: hue-rotate(120deg) ;
}

main{
    width: 1000px;
    height: 2000px;
    border-radius: 20px;
    margin: 100px 400px;
    background-color: white;
}
#photo{
    height: 400px;
    width: 400px;
}

#photo img{
    position: absolute;
    display: flex;
    margin-top: -90px;
    left: 440px;
    width: 150px;
}

#background img{
    
    width: 100%;
    height: 400px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

#info-basic{
    position: absolute;
    display: flex;
    margin-top: -17%;
    margin-left: 240px;
    left: 10%;
    flex-direction: column;
    border-bottom: 1px solid gray ;
    padding-right: 100px;
}

#info-basic h1{
    font-size: 40px;
    margin-bottom: 20px;
}

#info-basic p{
    font-size: 20px;
    font-weight: 11;
    color: gray;
    margin-bottom: 7px;
}








footer{
    width: 100%;
    height: 50px;
    padding-top: 30px;
    background-color: white;
    text-align: center;
}
footer p{
    font-size: 20px;
}